
.main_section{
    border: #000000 1px solid;  
}
.form{
    width: 35%;    
    padding: 2.5em 6em;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    gap: 2em;
    background-color:var(--background-color-green);
    box-sizing: border-box;
    border: solid slateblue 1px;
}
.form__segment{
    width: 100%;
}
.form__input{
    width: 100%;
    height: 3em;
    flex: 1 1 ;
    font-family: 'roboto-regular';
    font-size: 1em;
    margin: auto;
    background-color:var(--background-color-green-light);    
    border-radius: 5%;
    padding: 0 .3em;
    border: none;
}
.form__input.error{
    border: 2% rgb(247, 14, 14) solid;
}
.errorMsg {
    color: var(--color-black);
    font-family: 'roboto-bold';    
    background-color:var(--background-color-green-light);
    margin: auto;
}
  

.form__input::placeholder{
    padding: 0 1em;
}

.form__input:focus{
    outline: none;
}
.form__label{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'roboto-regular';
}

input[type="checkbox"]{
    transform: scale(1.6);
    
}
.form__button{
    font-family: 'roboto-bold';
    font-size: 1rem;
    margin: auto;
    padding: 0.3em 0.8em;
    border-radius: 10%;
    padding: 4% 5%;
    background-color: var(--background-color-white);
    border: none;
    border-radius: 10%;
    box-shadow: 0 2px 4px rgba(9, 0, 0, 0.2);
}

@media (max-width: 600px) {
    .form {
      width: 40%;
    }
  } 
 @media (max-width: 768px){
    .form{
        width: 90%;}

}
@media (max-width: 978px){
    .form{
        width: 90%;}

}