.card {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .card__content {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card--favorite {
    border-color: green;
  }
  
  .card__info {
    margin-bottom: 16px;
  }
  
  .card__info img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .card__actions {
    display: flex;
    justify-content: space-around;
  }